@use '../../design-system/_reset';
@use '../../design-system/_variables';
@use '../../design-system/_plan-base';

.select {
    button {
        width: 12rem;
        height: 2.3rem;
        border: none;
        border-radius: 10px;
        font-weight: 700;
        background-color: #fff;
        color: map-get(variables.$color-palette-billcentrix, 'primary');
        border: 1px solid map-get(variables.$color-palette-billcentrix, 'primary');
    }
}


.plans {
    display: flex;
    justify-content: space-between;
}