@use '../../design-system/_reset';
@use '../../design-system/_variables';
@use '../../design-system/_plan-base';

.preview{
    width: fit-content;
    text-align: left;

    .header{
        img{
            height: 2rem;
        }

    }

    p{
        width: 90%;
        color: map-get(variables.$color-palette-billcentrix, 'navy');
        margin-bottom: 1rem;
    }

    .content-portal{
        height: 20rem;
        border-radius: 10px;
        width: 23rem;
        background-color: map-get(variables.$color-palette-billcentrix, 'gray');
    }

    .options{
        display: flex;
        width: 100%;
        align-items: baseline;
        justify-content: space-around;

        p{
            color: map-get(variables.$color-palette-billcentrix, 'primary');
        }

        button{
            border: none;
            background-color: transparent;

            img{
                width: 3.8rem;
            }
        }

        .post-btn{
            color: #fff;
            background-color: map-get(variables.$color-palette-billcentrix, 'primary');
            width: 10rem;
            height: 2.3rem;
            border: none;
            border-radius: 5px;
            font-weight: 700;
        }
    }
}