@use '../../design-system/_reset';
@use '../../design-system/_variables';
@use '../../design-system/_base';
@use '../../design-system/_mobile-styles';
@import '../../design-system/_mixins.scss';

.create-portal {
    margin-top: 1rem;
    padding: 3rem;
    border-radius: 10px;
    background-color: map-get(variables.$color-palette-billcentrix, 'gray');

    @media (max-width: 1074px) {
        padding: 2rem;
    }

    .second-headboard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        @media (max-width: 641px) {
            flex-direction: column;
            align-items: flex-start;

            h1{
                margin-bottom: 1rem;
            }
        }

        h1 {
            font-weight: 300;
            color: map-get(variables.$color-palette-billcentrix, 'navy');
        }

        img {
            width: 20rem;
            margin-right: 7rem;
        }
    }

    .portal-info {
        background-color: #fff;
        padding: 1.5rem 2.3rem;
        border-radius: 10px;
        box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.11);
        margin-bottom: 1rem;

        @media (max-width: 449px) {
            padding: 1.5rem;
        }

        h1 {
            font-weight: 300;
            color: map-get(variables.$color-palette-billcentrix, 'primary');


            @media (max-width: 785px) {
                font-size: 1.8rem;
            }

            @media (max-width: 717px) {
                font-size: 1.5rem;
            }

        }

        p {
            color: map-get(variables.$color-palette-billcentrix, 'navy');
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            color: map-get(variables.$color-palette-billcentrix, 'navy');
            text-align: center;
            gap: 1rem;
            justify-items: center;

            @media (max-width: 955px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                    '1 2'
                    '3 3';
            }

            @media (max-width: 818px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .line{
                margin-top: 1rem;
                padding: 0 1.5rem;
                border-right: solid 1px map-get(variables.$color-palette-billcentrix, 'primary');
                border-left: solid 1px map-get(variables.$color-palette-billcentrix, 'primary');

                @media (max-width: 1491px) {
                    padding: 0 1.3rem;
                }

                @media (max-width: 1444px) {
                    padding: 0 2.3rem;
                }

                @media (max-width: 1399px) {
                    padding: 0 1.8rem;
                }

                @media (max-width: 1377px) {
                    padding: 0 1.5rem;
                }

                @media (max-width: 955px) {
                    border-right: none;
                    padding: 0 2.5rem;
                }

                @media (max-width: 911px) {
                    padding: 0 2rem;
                }

                @media (max-width: 818px) {
                    border-left: none;
                }
            }

            .essential,
            .practical,
            .contemporary {
                padding: 3rem;
                margin-top: 1rem;
                width: 25rem;
                border-radius: 10px;
                background-color: map-get(variables.$color-palette-billcentrix, 'gray');
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                img {
                    margin-top: 1rem;
                }

                @media (max-width: 1528px) {
                    padding: 2rem;
                }

                @media (max-width: 1444px) {
                    width: 22rem;

                    img {
                        width: 90%;
                        height: 25rem;
                    }
                }

                @include responsive-width(1304px, 20rem);

                @media (max-width: 1187px) {
                    padding: 2rem 1rem;
                    width: 18rem;
                }

                @include responsive-width(1074px, 16rem);
                @include responsive-width(955px, 20rem);
                @include responsive-width(488px, 18rem);
                @include responsive-width(432px, 16rem);


                .preview {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 2rem;

                    .preview-text {
                        display: flex;
                        align-items: center;

                        p {
                            color: map-get(variables.$color-palette-billcentrix, 'primary');
                            padding: 0;
                            margin-left: 1rem;
                        }

                        img {
                            margin-top: 0;
                            width: 2rem;
                            height: 2rem;
                        }
                    }

                }

            }

            .practical{
                padding: 3rem;
                margin-top: 0;
            }

            p {
                padding: 1rem 1rem 0 1rem;
            }

        }
    }
}

.options-buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;

    button {
        width: 8rem;
    }
}