<body>
    <div class="grid-overlay">
        <div class="header">
            <div class="logo">
                <img src="../../assets/images/BRAND2.png" alt="logo de Billcentrix">
            </div>
            <div class="buttons">
                <button>Crear nuevo portal</button>
                <img src="../../../assets/icons/cubo-green.png" alt="icono portales">
                <app-menu></app-menu>
            </div>
        </div>
        <div class="create-portal">
            <div class="second-headboard">
                <h1>Crea tu portal</h1>
                <img src="../../../assets/icons/3412.png" alt="logo de Billcentrix">
            </div>
            <div class="portal-info">
                <h1>Selecciona un tema para tu portal de pagos</h1>
                <p>Puedes volver y variar los colores cuando quieras</p>
                <div class="grid">
                    <div class="essential">
                        <h1>1. Básico</h1>
                        <p>Este tema incluido en tu plan, es moderno, de código libre, incluye librería de iconos y
                            estilos. </p>
                        <img src="../../../assets/images/portal-basico.png" alt="vista previa del portal basico">
                        <div class="preview">
                            <div class="preview-text">
                                <img src="../../../assets/icons/ver.png" alt="vista previa">
                                <p class="text-right">Vista previa</p>
                            </div>
                            <div class="round-checkbox">
                                <input type="checkbox" id="myCheckbox">
                            </div>
                        </div>
                    </div>
                    <div class="practical">
                        <h1>2. Práctico</h1>
                        <p>Este tema también incluido en tu plan, es de código libre, con librería de iconos, y de
                            estilo básico.</p>
                        <img src="../../../assets/images/portal-practico.png" alt="vista previa del portal practico">
                        <div class="preview">
                            <div class="preview-text">
                                <img src="../../../assets/icons/ver.png" alt="vista previa">
                                <p class="text-right">Vista previa</p>
                            </div>
                            <div class="round-checkbox">
                                <input type="checkbox" id="myCheckbox">
                            </div>
                        </div>
                    </div>
                    <div class="contemporary">
                        <h1>3. Contempo</h1>
                        <p>Este tema incluido en tu plan, y de código libre, incluye librería de iconos y se distingue
                            por su simpleza.</p>
                        <img src="../../../assets/images/portal-contempo.png" alt="vista previa del portal contempo">
                        <div class="preview">
                            <div class="preview-text">
                                <img src="../../../assets/icons/ver.png" alt="vista previa">
                                <p class="text-right">Vista previa</p>
                            </div>
                            <div class="round-checkbox">
                                <input type="checkbox" id="myCheckbox">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="options-buttons">
            <button class="back-btn">Atrás</button>
            <button class="continue-btn">Continuar</button>
        </div>
        <app-my-portal></app-my-portal>
    </div>
</body>