@use '../design-system/_reset';
@use '../design-system/_variables';
@use '../design-system/_base';


.setting-data {
    margin-top: 1rem;
    padding: 3rem;
    border-radius: 10px;
    background-color: map-get(variables.$color-palette-billcentrix, 'gray');

    .second-headboard {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1rem;

        h1 {
            font-weight: 300;
            color: map-get(variables.$color-palette-billcentrix, 'navy');
        }

        img {
            width: 20rem;
        }
    }

    .general-data,
    .processing-account,
    .notifications {
        background-color: #fff;
        padding: 1.5rem 2.3rem;
        border-radius: 10px;
        box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.11);
        margin-bottom: 1rem;

        h1 {
            font-weight: 300;
            color: map-get(variables.$color-palette-billcentrix, 'primary');
        }

        .grid {
            display: grid;
            grid-template-areas: 'left right';
            color: map-get(variables.$color-palette-billcentrix, 'navy');
            gap: 3rem;
            grid-template-columns: 1fr 1fr;

        }

    }

    .processing-account .right {
        .flex-style {
            display: flex;
            align-items: center;

            label {
                color: map-get(variables.$color-palette-billcentrix, 'primary');
                margin-right: 2rem;
            }

            .custom-account-btn {
                color: #fff;
                width: 15rem;
                background-color: map-get(variables.$color-palette-billcentrix, 'primary');
            }

        }

    }

}

.options-buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;

    button {
        width: 8rem;
    }
}