<body>
    <div class="header">
        <img src="../../../assets/icons/ver.png" alt="icono vista previa">
        <p>Vista previa</p>
        <img src="../../../assets/icons/cerrar.png" (click)="onCloseModal()" alt="cerrar el modal" class="close">
    </div>
    <div [ngClass]="{
        'main-content': selectedPalette === 'Billcentrix',
        'main-content-modern': selectedPalette === 'Moderna',
        'main-content-violet': selectedPalette === 'Violeta'
      }">
        <div class="navbar">
            <div class="logo">
                <img *ngIf="selectedPalette === 'Billcentrix'" src="../../../assets/icons/imagen.png" alt="logo fotografia">
                <img *ngIf="selectedPalette === 'Moderna'" src="../../../assets/icons/imagen-modern.png" alt="logo fotografia">
                <img *ngIf="selectedPalette === 'Violeta'" src="../../../assets/icons/imagen-purple.png" alt="logo fotografia">
                <h3>Logo</h3>
            </div>
            <div class="other-options-menu">
                <a href="">
                    <h3>Inicio</h3>
                </a>
                <a href="">
                    <h3>Precios</h3>
                </a>
                <a href="">
                    <h3>Beneficios</h3>
                </a>
                <a href="">
                    <h3>Contacto</h3>
                </a>
            </div>
            <div class="burguer-menu">
                <app-menu-preview></app-menu-preview>
            </div>
        </div>
        <div class="main-image">
            <div class="text">
                <h1>Título de esta imagen</h1>
                <p>Cabezal que comunica su propuesta de valor</p>
                <button>Acción</button>
            </div>
        </div>
        <div class="plans">
            <h1>Título de planes</h1>
            <p>PRECIOS</p>
            <app-plan-practical [selectedPalette]="selectedPalette"></app-plan-practical>
        </div>
        <div class="background-banner">
            <div class="banner-content">
                <div class="text">
                    <h1>Banner <br>promocional</h1>
                    <p>Descripción del banner</p>
                </div>
                <div class="white-image">
                    <img *ngIf="selectedPalette === 'Billcentrix'" src="../../../assets/icons/imagen.png" alt="imagen del banner">
                    <img *ngIf="selectedPalette === 'Moderna'" src="../../../assets/icons/imagen-modern.png" alt="imagen del banner">
                    <img *ngIf="selectedPalette === 'Violeta'" src="../../../assets/icons/imagen-fucsia.png" alt="imagen del banner">
                    <p>Imagen</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="left">
                <h1>Título del <br>footer</h1>
                <p>Copyright © 2022 Billcentrix. All Rights Reserved.</p>
            </div>
            <div class="right">
                <div class="mail">
                    <div class="round-mail">
                        <img src="../../../assets/icons/mail-white.png" alt="icono de mail">
                    </div>
                    <p>info@product.com</p>
                </div>
                <div class="text-footer">
                    <p>Términos de uso</p>
                    <p>Política de privacidad</p>
                </div>
            </div>
        </div>
    </div>
    <div class="options-buttons">
        <button class="back-btn">Atrás</button>
        <button class="continue-btn">Seleccionar</button>
    </div>
</body>