@use '../../../design-system/_reset';
@use '../../../design-system/_variables';

body {
    background-color: map-get(variables.$color-palette-billcentrix, 'navy');
    background-image: url('../../../../assets/images/GRID.png');
    background-size: 70%;
    height: max-content;

    .grid-overlay {
        padding: 0 1rem;
        width: 100%;
        height: 100%;
        background-color: rgba(6, 42, 82, 0.762);
        padding-bottom: 1rem;

        button {
            width: 12rem;
            height: 2.3rem;
            border: none;
            border-radius: 5px;
            font-weight: 700;
        }

        .header {
            display: flex;
            justify-content: space-between;

            .logo {
                img {
                    width: 50%;
                }
            }

            .buttons {
                display: flex;
                width: 30%;
                justify-content: space-between;
                align-items: center;

                button {
                    background-color: map-get(variables.$color-palette-billcentrix, 'highlighter');
                    color: map-get(variables.$color-palette-billcentrix, 'navy');
                }

                img {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }

        .my-portals-data {
            margin-top: 1rem;
            padding: 1.5rem 5rem;
            border-radius: 10px;
            background-color: map-get(variables.$color-palette-billcentrix, 'gray');
            

            .second-headboard {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;

                h1 {
                    font-weight: 300;
                    color: map-get(variables.$color-palette-billcentrix, 'navy');
                }

                img {
                    width: 20rem;
                    margin-right: 5rem;
                }
            }

            .grid{
                display: grid;
                grid-template-areas: '1 2 3';
                justify-content: space-between;
            }
        }
    }
}