@use '../../design-system/_reset';
@use '../../design-system/_variables';

.transparent {
    background-color: transparent;
    border: none;
    border-left: solid 1px map-get(variables.$color-palette-billcentrix, 'highlighter');

    .rotate-left {
        transition: transform 0.3s ease;
        transform: rotate(-90deg);
    }

    &.rotated {
        top: 3rem;
    }

    & {
        position: relative;
        top: 10px;
        transition: top 0.3s ease;
    }

    img {
        padding: 1rem;
    }
}


::ng-deep .mat-mdc-menu-content {
    background-color: map-get(variables.$color-palette-billcentrix, 'primary');

    button {
        display: flex;
    }

    img {
        width: 1.3rem;
    }

    span {
        margin-left: 1rem;
        color: #fff;
    }
}