<div class="menu">
    <mat-menu>
        <button mat-menu-item><img src="../../assets/icons/preferencias.png" alt="preferencias">
            <p>Preferencias</p>
        </button>
        <button mat-menu-item><img src="../../assets/icons/etiqueta.png" alt="planes">
            <p>Planes</p>
        </button>
        <button mat-menu-item><img src="../../assets/icons/cuadra-white.png" alt="portales">
            <p>Portales</p>
        </button>
        <button mat-menu-item><img src="../../assets/icons/grafico.png" alt="reportes">
            <p>Reportes</p>
        </button>
        <button mat-menu-item><img src="../../assets/icons/informacion.png" alt="FAQs">
            <p>FAQs</p>
        </button>
        <button mat-menu-item><img src="../../assets/icons/salida.png" alt="salir">
            <p>Salir</p>
        </button>
    </mat-menu>
</div>