<body>
    <div class="grid-overlay">
        <div class="header">
            <div class="logo">
                <img src="../../assets/images/BRAND2.png" alt="logo de Billcentrix">
            </div>
            <div class="buttons">
                <button id="createPortalBtn">Crear nuevo portal</button>
                <button class="create-portal-btn"><h1>+</h1></button>
                <img src="../../../assets/icons/cubo-green.png" alt="icono portales">
                <app-menu></app-menu>
            </div>
        </div>
        <div class="personalize-content">
            <div class="second-headboard">
                <h1>Personalización</h1>
                <img src="../../../assets/icons/4123.png" alt="logo de Billcentrix">
            </div>
            <div class="options-content">
                <div class="selected-theme">
                    <h1>Tema seleccionado: <strong>{{ selectedTheme }}</strong></h1>
                    <p>Puedes cambiar el template cuando quieras</p>
                    <div class="change-btn">
                        <button mat-icon-button [matMenuTriggerFor]="menuPlan">Cambiar</button>
                        <mat-menu #menuPlan="matMenu" class="menu">
                            <button mat-menu-item (click)="changeTheme('Básico')">Básico</button>
                            <button mat-menu-item (click)="changeTheme('Práctico')">Práctico</button>
                            <button mat-menu-item (click)="changeTheme('Contempo')">Contempo</button>
                        </mat-menu>
                    </div>
                </div>
                <app-slider></app-slider>
                <div class="brand">
                    <h1>Su marca</h1>
                    <div class="grid-brand">
                        <div class="upload-file">
                            <p class="principal-text">Suba el logo de su empresa, preferiblemente .svg para mejor
                                calidad.
                                El tamaño recomendado:
                                200 x 50 pixels. Será cargado en la parte superior izquierda del portal. Al momento de
                                cargar las imágenes puede consultar la opción vista previa.</p>
                            <div class="upload">
                                <img src="../../../assets/icons/subir.png" alt="subir archivo">
                                <p class="action-description">Subir archivo</p>
                            </div>
                            <div class="preview">
                                <img src="../../../assets/icons/ver.png" alt="vista previa">
                                <p class="action-description">Vista previa</p>
                            </div>
                        </div>
                        <div class="image-width">
                            <div class="line-horizontal"></div>
                            <span class="line-text-horizontal">200 pixels</span>
                            <div class="line-vertical"></div>
                            <span class="line-text-vertical">50 pixels</span>
                            <img src="../../../assets/images/BRAND3.png" alt="medidas del logo">
                        </div>
                    </div>
                </div>
                <div class="main-image">
                    <div class="grid-main-image">
                        <div class="left">
                            <h1>Imagen principal</h1>
                            <p class="principal-text">Esta imagen será la bienvenida al cliente, use una imagen tipo
                                .jpg
                                para el mejor y rápido
                                desempeño de su portal sin sacrificar calidad. El tamaño recomendado: 1440 x 720 pixels.
                                Al
                                momento de cargar las imágenes puede consultar la opción vista previa.</p>
                            <div class="upload">
                                <img src="../../../assets/icons/subir.png" alt="subir archivo">
                                <p class="action-description">Subir archivo</p>
                            </div>
                            <div class="preview">
                                <img src="../../../assets/icons/ver.png" alt="vista previa">
                                <p class="action-description">Vista previa</p>
                            </div>
                            <div class="sample-measurements">
                                <div class="line-horizontal"></div>
                                <span class="line-text-horizontal">1440 pixels</span>
                                <div class="line-vertical"></div>
                                <span class="line-text-vertical">720 pixels</span>
                            </div>
                        </div>
                        <div class="right">
                            <img class="section" src="../../../assets/images/indicadores-pag.png" alt="sectores de la pagina">
                            <img class="sample" src="../../../assets/images/pag-min.png" alt="muestra de la pagina">
                        </div>
                    </div>
                </div>
                <div class="promotional-banner">
                    <div class="grid-promotional-banner">
                        <div class="left">
                            <h1>Banner promocional</h1>
                            <p class="principal-text">Esta imagen será mostrada en la parte final del portal, puede ser
                                una
                                imagen promocional o
                                una segunda imagen representativa del portal. Use una imagen tipo .jpg para el mejor y
                                rápido desempeño de su portal sin sacrificar calidad. El tamaño recomendado: 320 x 400
                                pixels. Al momento de cargar las imágenes puede consultar la opción vista previa.</p>
                            <div class="upload">
                                <img src="../../../assets/icons/subir.png" alt="subir archivo">
                                <p class="action-description">Subir archivo</p>
                            </div>
                            <div class="preview">
                                <img src="../../../assets/icons/ver.png" alt="vista previa">
                                <p class="action-description">Vista previa</p>
                            </div>
                            <div class="frequent-questions">
                                <img src="../../../assets/icons/informacion2.png" alt="icono preguntas frecuentes">
                                <p>Haz clic aquí para preguntas frecuentes</p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="sample-measurements">
                                <div class="line-horizontal"></div>
                                <span class="line-text-horizontal">320 pixels</span>
                                <div class="line-vertical"></div>
                                <span class="line-text-vertical">400 pixels</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="general-data">
                    <h1>Datos generales del portal</h1>
                    <div class="grid-general-data">
                        <div class="left">
                            <div class="items">
                                <label for="image-title">Título para la imagen principal</label>
                                <input type="text" placeholder="Ej. Bienvenidos a Club Platino">
                            </div>
                            <div class="items">
                                <label for="banner-text">Texto del banner</label>
                                <input type="text" placeholder="Ej. Aprovecha nuestra oferta con la promoción...">
                            </div>
                            <div class="items">
                                <label for="action">Llamada a la acción</label>
                                <input type="text" placeholder="¡Ej. Suscríbase ya!">
                            </div>
                        </div>
                        <div class="rihgt">
                            <div class="items">
                                <label for="description">Descripción de la página</label>
                                <textarea type="text"
                                    placeholder="Ej. Servicio dedicado a suplir a la audiencia amante de los vinos, se ofrece aquí un servicio de suscripción a los mejores precios y con extraordinaria calidad."></textarea>
                            </div>
                            <div class="items">
                                <label for="banner-description">Descripción del banner</label>
                                <input type="text" placeholder="Oferta del día de la madre">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="preview-mobile" (click)="openModal()">
                <img src="../../../assets/icons/ver-blanco.png" alt="vista previa">
                <p class="action-description">Vista previa</p>
            </div>
            <div class="buttons-mobile">
                <button>Atrás</button>
                <button class="after">Siguiente</button>
            </div>
            <div class="action-buttons">
                <div class="preview" (click)="openModal()">
                    <img src="../../../assets/icons/ver-blanco.png" alt="vista previa">
                    <p class="action-description">Vista previa</p>
                </div>
                <button class="finish">Finalizar</button>
            </div>
        </div>
    </div>
</body>