<body>
    <div class="header">
        <img src="../../../assets/icons/ver.png" alt="icono vista previa">
        <p>Vista previa</p>
        <img src="../../../assets/icons/cerrar.png" alt="cerrar el modal" class="close">
    </div>
    <div class="main-content">
        <h3>Logo</h3>
        <div class="main-image">
            <div class="text">
                <h1>Título para la imagen principal</h1>
                <p>Sed ut perspiciatis unde omnis iste natus  sit voluptatem accusantium doloremque laudantium, totam.</p>
                <h3>Acción</h3>
            </div>
        </div>
        <p>PRECIOS</p>
        <div class="plans">
            <app-plan-basic></app-plan-basic>
        </div>
    </div>
</body>