<body>
    <div class="header">
        <img src="../../../assets/icons/ver.png" alt="icono vista previa">
        <p>Vista previa</p>
        <img src="../../../assets/icons/cerrar.png" (click)="onCloseModal()" alt="cerrar el modal" class="close" >
    </div>
    <div [ngClass]="{
        'main-content': selectedPalette === 'Billcentrix',
        'main-content-modern': selectedPalette === 'Moderna',
        'main-content-violet': selectedPalette === 'Violeta'
      }">
        <h3>Logo</h3>
        <div class="main-image">
            <div class="text">
                <h1>Título para la imagen principal</h1>
                <p>Sed ut perspiciatis unde omnis iste natus  sit voluptatem accusantium doloremque laudantium, totam.</p>
                <h3>Acción</h3>
            </div>
        </div>
        <div class="plans">
            <p>PRECIOS</p>
            <app-plan-basic [selectedPalette]="selectedPalette"></app-plan-basic>
        </div>
        <div class="banner-content">
            <div class="text">
                <h1>Título del banner del producto</h1>
                <p>Llamada a la acción</p>
            </div>
            <div class="white-image"></div>
        </div>
        <div class="footer">
            <h2>Texto en el pie de página</h2>
            <hr>
            <div class="mail">
                <img *ngIf="selectedPalette === 'Billcentrix'" src="../../../assets/icons/mail.png" alt="icono de mail">
                <img *ngIf="selectedPalette === 'Moderna'" src="../../../assets/icons/mail-green.png" alt="icono de mail">
                <img *ngIf="selectedPalette === 'Violeta'" src="../../../assets/icons/mail-violet.png" alt="icono de mail">
                <h2>Forma@<strong>decontacto.com</strong></h2>
            </div>
        </div>
    </div>
    <div class="options-buttons">
        <button class="back-btn">Atrás</button>
        <button class="continue-btn">Seleccionar</button>
    </div>
</body>