@use '../../design-system/_reset';
@use '../../design-system/_variables';
@use '../../design-system/_base';
@use '../../design-system/_plan-base';
@use '../../design-system/_mobile-styles';

.plans-data {
    margin-top: 1rem;
    padding: 1.5rem 5rem;
    border-radius: 10px;
    background-color: map-get(variables.$color-palette-billcentrix, 'gray');

    @media (max-width: 551px){
        padding: 1.5rem 3rem;
    }

    
    @media (max-width: 443px){
        padding: 1.5rem 1.8rem;
    }

    .second-headboard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        @media (max-width: 678px){
            flex-direction: column;
            align-items: flex-start;
        }

        h1 {
            font-weight: 300;
            color: map-get(variables.$color-palette-billcentrix, 'navy');

            @media (max-width: 678px){
                margin-bottom: 1rem;
            }
        }

        img {
            width: 20rem;
            margin-right: 5rem;


        }
    }

    .plans-data-text {
        color: map-get(variables.$color-palette-billcentrix, 'primary');
        width: 15rem;

        @media (max-width: 1077px){
            width: 25rem;
        }

        
        @media (max-width: 678px){
            padding: 1rem 0;
        }

        @media (max-width: 497px){
            width: 20rem;
        }

        @media (max-width: 438px){
            width: 17rem;
        }

        strong {
            margin-bottom: 1.5rem;
        }

        .line-spacing {
            line-height: 1.5;
        }
    }

    .preview-text {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0.8rem;

        .text-right {
            display: inline;
            margin-left: 0.5rem;
            color: map-get(variables.$color-palette-billcentrix, 'primary');
        }

        @media (max-width: 1077px){
            img, .text-right{
                display: none;
            }
        }

    }

    .grid {
        display: grid;
        grid-template-areas: 'left right';
        color: map-get(variables.$color-palette-billcentrix, 'navy');
        gap: 3rem;
        grid-template-columns: 2fr 1fr;

        @media (max-width: 1077px){
            display: flex;
            flex-direction: column;
        }

        .create-first-plan,
        .preview {
            background-color: #fff;
            padding: 1.5rem 2.3rem;
            border-radius: 10px;
            box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.11);
            margin-bottom: 1rem;

            @media (max-width: 477px){
                padding: 1.5rem;
            }

            h1 {
                font-weight: 300;
                color: map-get(variables.$color-palette-billcentrix, 'primary');

                @media (max-width: 477px){
                    font-size: 2rem;
                }

                @media (max-width: 405px){
                    font-size: 1.7rem;
                }
            }
        }


        .second-grid {

            .upper-part,
            .bottom {
                display: grid;
                grid-template-areas: 'left right';
                color: map-get(variables.$color-palette-billcentrix, 'navy');
                gap: 3rem;

                @media (max-width: 678px){
                    display: flex;
                    flex-direction: column;
                }
            }

            .items {

                .upload-photo {
                    display: flex;
                    justify-content: space-between;
                    padding: 1.5rem;

                    .first-part {
                        display: flex;
                        align-items: center;

                        p {
                            margin-left: 1rem;
                            color: map-get(variables.$color-palette-billcentrix, 'primary');
                        }
                    }

                    .up {
                        height: 2rem;
                    }
                }
            }

            .bottom {
                .right {
                    input {
                        height: 6.1rem;
                    }
                }
            }
        }

        .preview-text2{
            display: none;

            @media (max-width: 1077px){
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 0.8rem;
        
                p {
                    display: inline;
                    padding: 0.5rem;
                    color: map-get(variables.$color-palette-billcentrix, 'primary');
                }
            }
        }

        .preview {
            width: 100%;
            margin-top: 0;

            @media (max-width: 1077px){
                width: 20rem;
            }

            @media (max-width: 444px){
                width: 100%;
            }

            .see-photo {
                width: 100%;
            }

            .including {
                padding: 3rem;

                @media (max-width: 900px){
                    padding: 1rem;
                }
            }

            button {
                width: 15rem;
                height: 2.3rem;
                border: none;
                border-radius: 10px;
                font-weight: 700;
                background-color: #fff;
                color: map-get(variables.$color-palette-billcentrix, 'primary');
                border: 1px solid map-get(variables.$color-palette-billcentrix, 'primary');
                margin-top: 1rem;
            }
        }

    }

    .save {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        button {
            width: 9rem;
            background-color: map-get(variables.$color-palette-billcentrix, 'primary');
            color: #fff;
        }

    }
}

.back {
    padding: 1rem 3rem 1rem 3rem;

    button {
        width: 9rem;
        color: map-get(variables.$color-palette-billcentrix, 'primary');
    }
}