@use '../../design-system/_reset';
@use '../../design-system/_variables';

body {
    background-color: map-get(variables.$color-palette-billcentrix, 'navy');
    background-image: url('../../../assets/images/GRID.png');
    background-size: 70%;
    height: max-content;

    .grid-overlay {
        padding: 0 1rem;
        width: 100%;
        height: 100%;
        background-color: rgba(6, 42, 82, 0.762);

        button {
            width: 12rem;
            height: 2.3rem;
            border: none;
            border-radius: 5px;
            font-weight: 700;
        }

        .header {
            display: flex;
            justify-content: space-between;

            .logo {
                img {
                    width: 50%;
                }
            }

            .buttons {
                display: flex;
                width: 30%;
                justify-content: space-between;
                align-items: center;

                button {
                    background-color: map-get(variables.$color-palette-billcentrix, 'highlighter');
                    color: map-get(variables.$color-palette-billcentrix, 'navy');
                }

                img {
                    width: 3rem;
                    height: 4rem;
                }
            }
        }

        .plans-data {
            margin-top: 1rem;
            padding: 1.5rem 5rem;
            border-radius: 10px;
            background-color: map-get(variables.$color-palette-billcentrix, 'gray');

            .second-headboard {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;

                h1 {
                    font-weight: 300;
                    color: map-get(variables.$color-palette-billcentrix, 'navy');
                }

                img {
                    width: 20rem;
                    margin-right: 5rem;
                }
            }

            .plans-data-text {
                color: map-get(variables.$color-palette-billcentrix, 'primary');
                width: 15rem;

                strong {
                    margin-bottom: 1.5rem;
                }

                .line-spacing {
                    line-height: 1.5;
                }
            }

            .preview-text {
                width: 80%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 0.8rem;

                p {
                    display: inline;
                    margin-left: 0.5rem;
                    color: map-get(variables.$color-palette-billcentrix, 'primary');
                }
            }

            .grid {
                display: grid;
                grid-template-areas: 'left right';
                color: map-get(variables.$color-palette-billcentrix, 'navy');
                gap: 3rem;
                grid-template-columns: 2fr 1fr;

                .create-first-plan,
                .preview {
                    background-color: #fff;
                    padding: 1.5rem 2.3rem;
                    border-radius: 10px;
                    box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.11);
                    margin-bottom: 1rem;

                    h1 {
                        font-weight: 300;
                        color: map-get(variables.$color-palette-billcentrix, 'primary');
                    }
                }

                .second-grid {

                    .upper-part,
                    .bottom {
                        display: grid;
                        display: grid;
                        grid-template-areas: 'left right';
                        color: map-get(variables.$color-palette-billcentrix, 'navy');
                        gap: 3rem;
                    }

                    .items {
                        margin: 1rem 0;
                        position: relative;

                        label {
                            margin: 1rem 0;
                        }

                        input {
                            display: block;
                        }

                        input[type="text"],
                        textarea,
                        .upload-photo {
                            width: 100%;
                            border-radius: 5px;
                            margin-bottom: 1rem;
                            margin-top: 1rem;
                            padding: 0.5rem;
                            border: none;
                            background-color: map-get(variables.$color-palette-billcentrix, 'gray');
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
                        }

                        ::placeholder {
                            color: map-get(variables.$color-palette-billcentrix, 'primary');
                            opacity: 1;
                        }

                        :-ms-input-placeholder {
                            color: map-get(variables.$color-palette-billcentrix, 'primary');
                        }

                        ::-ms-input-placeholder {
                            color: map-get(variables.$color-palette-billcentrix, 'primary');
                        }

                        textarea::placeholder {
                            font-family: 'Montserrat Alternates', sans-serif;
                        }

                        .upload-photo {
                            display: flex;
                            justify-content: space-between;
                            padding: 1.5rem;

                            .first-part {
                                display: flex;
                                align-items: center;

                                p {
                                    margin-left: 1rem;
                                    color: map-get(variables.$color-palette-billcentrix, 'primary');
                                }
                            }

                            .up {
                                height: 2rem;
                            }
                        }
                    }

                    .bottom {
                        .right {
                            input {
                                height: 6.1rem;
                            }
                        }
                    }
                }

                .preview {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .see-photo {
                        width: 100%;
                        height: 8rem;
                        border-radius: 5px;
                        margin-bottom: 1rem;
                        margin-top: 1rem;
                        padding: 0.5rem;
                        border: none;
                        background-color: map-get(variables.$color-palette-billcentrix, 'gray');
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    h3 {
                        color: map-get(variables.$color-palette-billcentrix, 'primary');
                    }

                    .big-number {
                        font-size: 6rem;
                        font-weight: 500;
                    }

                    .including {
                        padding: 3rem;

                        .dotted-list li::before {
                            content: "\2022";
                            margin-right: 5px;
                        }
                    }

                    button{
                        width: 15rem;
                        height: 2.3rem;
                        border: none;
                        border-radius: 10px;
                        font-weight: 700;
                        background-color: #fff;
                        color: map-get(variables.$color-palette-billcentrix, 'primary');
                        border: 1px solid map-get(variables.$color-palette-billcentrix, 'primary');
                        margin-top: 1rem;
                    }
                }

            }
            .save{
                display: flex;
                width: 100%;
                justify-content: flex-end;

                button{
                    width: 9rem;
                    background-color: map-get(variables.$color-palette-billcentrix, 'primary');
                    color: #fff;
                }

            }
        }

        .back{
            padding: 1rem 3rem 1rem 3rem;

            button{
                width: 9rem;
                color: map-get(variables.$color-palette-billcentrix, 'primary');
            }
        }
    }

}