<body>
    <div class="grid-overlay">
        <div class="header">
            <div class="logo">
                <img src="../../../assets/images/BRAND2.png" alt="logo de Billcentrix">
            </div>
            <div class="buttons">
                <button>Crear nuevo plan</button>
                <img src="../../../assets/icons/planes.png" alt="icono preferencias">
                <app-menu></app-menu>
            </div>
        </div>
        <div class="plans-data">
            <div class="second-headboard">
                <h1>Planes</h1>
                <img src="../../../assets/icons/2341.png" alt="logo de Billcentrix">
            </div>
            <div class="plans-data-text">
                <strong>¿Qué ofreces?</strong>
                <p class="line-spacing">Según tu propuesta de valor, crea el plan o planes de pagos para tus productos o servicios.</p>
            </div>
            <div class="preview-text">
                <img src="../../../assets/icons/ver.png" alt="vista previa">
                <p class="text-right">Vista previa</p>
            </div>
            <div class="grid">
                <div class="create-first-plan">

                </div>
                <div class="preview">

                </div>
            </div>
        </div>
    </div>
</body>