<div class="main">
    <div class="logo">
        <img src="../../assets/images/BRAND.png" alt="Logo Billcentrix">
        <h1>Login</h1>
    </div>
    <div class="login-modal-content">
        <div class="modal-login">
            <div class="background-white">
                <h1>Sesión</h1>
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Password">
                <p>¿Olvidaste tu Password?</p>
                <a href="#">Haz click aquí</a>
                <div class="options">
                    <div class="checkbox">
                        <input type="checkbox" id="checkbox-remember" class="cookies">
                        <label for="checkbox-remember">Recuerdame<br>en este sitio</label>
                    </div>
                    <button (click)="goToLoginOnBoard()">Entrar</button>
                </div>
            </div>
            <div class="transparent-background">
                <p>¿Nueva cuenta?</p>
                <button>Regístrate</button>
            </div>
        </div>
    </div>
    <img src="../../assets/images/grafica2.png" alt="graff">
</div>