@use '../../design-system/_reset';
@use '../../design-system/_variables';
@use '../../design-system/_base';


.editing-preferences {
    margin-top: 1rem;
    padding: 3rem;
    border-radius: 10px;
    background-color: map-get(variables.$color-palette-billcentrix, 'gray');

    h1 {
        font-weight: 300;
        color: map-get(variables.$color-palette-billcentrix, 'navy');
        margin-bottom: 2rem;
    }

    .change-of-password {
        background-color: #fff;
        padding: 1.5rem 2.3rem;
        border-radius: 10px;
        box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.11);
        margin-bottom: 1rem;

        h1 {
            font-weight: 300;
            color: map-get(variables.$color-palette-billcentrix, 'primary');
        }

        .grid {
            display: grid;
            grid-template-areas: 'left right';
            color: map-get(variables.$color-palette-billcentrix, 'navy');
            gap: 10rem;
            grid-template-columns: 1fr 1fr;

            .right {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .recommendations {
                    color: map-get(variables.$color-palette-modern, 'success');

                    img {
                        width: 1rem;
                    }

                    p {
                        margin: 0.8rem 0;
                    }
                }
            }
        }

    }

}

.buttons {
    display: grid;
    grid-template-areas: '1 2';
    justify-content: space-around;

    button {
        margin-top: 1rem;
        width: 9rem;
        height: 2.3rem;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        margin-bottom: 2.1rem;
        color: map-get(variables.$color-palette-billcentrix, 'primary');
    }

    .action-buttons {

        button {
            margin-right: 2rem;
            color: #fff;
            background-color: map-get(variables.$color-palette-billcentrix, 'primary');
        }
    }
}