<body>
    <div class="grid-overlay">
        <div class="header">
            <div class="logo">
                <img src="../../assets/images/BRAND2.png" alt="logo de Billcentrix">
            </div>
            <div class="buttons">
                <img src="../../assets/icons/Preferencias-green.png" alt="icono preferencias">
                <app-menu></app-menu>
            </div>
        </div>
        <div class="editing-preferences">
            <h1>Editar preferencias</h1>
            <div class="change-of-password">
                <h1>Cambiar contraseña</h1>
                <div class="grid">
                    <div class="left">
                        <div class="items">
                            <label for="current-password">Contraseña actual</label>
                            <input type="text">
                        </div>
                        <div class="items">
                            <label for="new-password">Nueva contraseña</label>
                            <input type="text">
                        </div>
                        <div class="items">
                            <label for="repit-password">Repetir nueva contraseña</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="right">
                        <p>Recomendaciones:</p>
                        <div class="recommendations">
                            <p><img src="../../../assets/icons/ok.png" alt="okey"> Una combinación de letras (a-z)</p>
                            <p><img src="../../../assets/icons/ok.png" alt="okey"> Caracteres especiales</p>
                            <p><img src="../../../assets/icons/ok.png" alt="okey"> Mayúsculas y minúsculas</p>
                            <p><img src="../../../assets/icons/ok.png" alt="okey"> Números (0-9)</p>
                            <p><img src="../../../assets/icons/ok.png" alt="okey"> Mínimo de 8 caracteres</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button>Atrás</button>
            <div class="action-buttons">
                <button>Editar</button>
                <button>Guardar</button>
            </div>
        </div>
    </div>
</body>
