@use '../../design-system/_reset';
@use '../../design-system/_variables';


body {
    background-color: map-get(variables.$color-palette-billcentrix, 'navy');
    background-image: url('../../../assets/images/GRID.png');
    background-size: 70%;
    height: max-content;

    .grid-overlay {
        padding: 0 1rem;
        width: 100%;
        height: 100%;
        background-color: rgba(6, 42, 82, 0.762);

        .header {
            display: flex;
            justify-content: space-between;
    
            .logo {
                img {
                    width: 50%;
                }
            }
    
            .buttons {
                display: flex;
                width: 20%;
                justify-content: space-between;
    
                img {
                    width: 4rem;
                }
            }
        }

        .editing-preferences{
            margin-top: 1rem;
            padding: 3rem;
            border-radius: 10px;
            background-color: map-get(variables.$color-palette-billcentrix, 'gray');

            h1 {
                font-weight: 300;
                color: map-get(variables.$color-palette-billcentrix, 'navy');
                margin-bottom: 2rem;
            }

            .change-of-password{
                background-color: #fff;
                padding: 1.5rem 2.3rem;
                border-radius: 10px;
                box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.11);
                margin-bottom: 1rem;

                h1{
                    font-weight: 300;
                    color: map-get(variables.$color-palette-billcentrix, 'primary');
                }

                .grid{
                    display: grid;
                    grid-template-areas: 'left right';
                    color: map-get(variables.$color-palette-billcentrix, 'navy');
                    gap: 10rem;
                    grid-template-columns: 1fr 1fr;

                    .items {
                        margin: 1rem 0;
                        position: relative;
    
                        label {
                            margin: 1rem 0;
                            color: map-get(variables.$color-palette-billcentrix, 'navy');
                        }
    
                        input {
                            display: block;
                        }
    
                        input[type="text"]{
                            width: 100%;
                            border-radius: 5px;
                            margin-bottom: 1rem;
                            margin-top: 1rem;
                            padding: 0.5rem;
                            border: none;
                            background-color: map-get(variables.$color-palette-billcentrix, 'gray');
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
                        }
                    }

                    .right{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        .recommendations{
                            color: map-get(variables.$color-palette-modern, 'success');

                            img{
                                width: 1rem;
                            }

                            p{
                                margin: 0.8rem 0;
                            }
                        }
                    }
                }

            }

        }

        .buttons{
            display: grid;
            grid-template-areas: '1 2';
            justify-content: space-around;

            button{
                margin-top: 1rem;
                width: 9rem;
                height: 2.3rem;
                border: none;
                border-radius: 5px;
                font-weight: 700;
                margin-bottom: 2.1rem;
                color: map-get(variables.$color-palette-billcentrix, 'primary');
            }

            .action-buttons{

                button{
                    margin-right: 2rem;
                    color: #fff;
                    background-color: map-get(variables.$color-palette-billcentrix, 'primary');
                }
            }
        }
    
    }

}