@use '../../design-system/_reset';
@use '../../design-system/_variables';
@use '../../design-system/_plan-base';
@import '../../design-system/_mixins.scss';

.preview{
    width: 20rem;

    @include responsive-width(1196px, 18rem);
    @include responsive-width(964px, 16rem);
    @include responsive-width(395px, 18rem);

    .options {
        display: flex;
        width: 100%;
    
        button {
            border: none;
            color: map-get(variables.$color-palette-billcentrix, 'primary');
            background-color: transparent;
    
            img {
                width: 3.8rem;
            }
        }
    }
}