@use '../../design-system/_reset';
@use '../../design-system/_variables';
@use '../../design-system/_plan-base';

.preview{
    width: 90%;

    .options {
        display: flex;
        width: 100%;
    
        button {
            border: none;
            color: map-get(variables.$color-palette-billcentrix, 'primary');
            background-color: transparent;
    
            img {
                width: 3.8rem;
            }
        }
    }
}