<div class="preview">
    <div class="header">
        <h1>Plan 1</h1>
        <img src="../../../assets/icons/etiqueta-celeste.png" alt="">
    </div>
    <div class="see-photo">
        <img src="../../../assets/icons/photo.png" alt="foto">
    </div>
    <h3>Beneficio principal</h3>
    <h1 class="big-number">$0</h1>
    <h3>Mensuales</h3>
    <div class="including">
        <ul class="dotted-list">
            <li>Incluye sed ut perspiciatis</li>
            <li>Sunde omnis iste natus</li>
            <li>Sed ut perspiciatis unde omnis iste natus sit</li>
        </ul>
    </div>
    <div class="options">
        <button class="edit-bt"> <img src="../../../assets/icons/editar.png" alt="editar plan">
            <p>Editar</p>
        </button>
        <button> <img src="../../../assets/icons/eliminar.png" alt="editar plan">
            <p>Eliminar</p>
        </button>
    </div>
</div>