@mixin responsive-width($max-width, $width) {
    @media (max-width: $max-width) {
        width: $width;
    }
}

@mixin responsive-height($max-width, $height) {
    @media (max-width: $max-width) {
        height: $height;
    }
}

@mixin responsive-padding($max-width, $padding) {
    @media (max-width: $max-width) {
        padding: $padding;
    }
}