@mixin responsive-width($max-width, $width) {
    @media (max-width: $max-width) {
        width: $width;
    }
}

@mixin responsive-height($max-width, $height) {
    @media (max-width: $max-width) {
        height: $height;
    }
}

@mixin responsive-right($max-width, $right) {
    @media (max-width: $max-width) {
        right: $right;
    }
}

@mixin responsive-left($max-width, $left) {
    @media (max-width: $max-width) {
        left: $left;
    }
}

@mixin responsive-font-size($max-width, $font-size) {
    @media (max-width: $max-width) {
        font-size: $font-size;
    }
}