$color-palette-billcentrix: (
    "primary": #5197FF,
    "white":  #ffff,
    "highlighter": #60FFCF,
    "navy": #062952,
    "gray": #F5F5F5
);

$color-palette-modern: (
    "success": #00A57B,
    "white":  #ffff,
    "navy": #062952,
    "gray2": #707070,
    "gray": #F5F5F5
);

$color-palette-violet: (
    "ally": #675A76,
    "purple":  #0B066D,
    "fucsia": #C24C93,
    "gray": #F5F5F5,
    "blush": #FF0099
);

$font-sizes: (
    "title": 2.5rem,
    "subtitle": 2rem,
    "text": 1.5rem,
    "subtext": 1.2rem
);