<body>
    <div class="grid-overlay">
        <div class="header">
            <div class="logo">
                <img src="../../../../assets/images/BRAND2.png" alt="logo de Billcentrix">
            </div>
            <div class="buttons">
                <button id="createPlanBtn">Crear nuevo plan</button>
                <button class="create-plan-btn"><h1>+</h1></button>
                <img src="../../../../assets/icons/planes.png" alt="icono planes">
                <app-menu></app-menu>
            </div>
        </div>
        <div class="my-plans-data">
            <div class="second-headboard">
                <h1>Mis planes</h1>
                <img src="../../../../assets/icons/2341.png" alt="logo de pasos">
            </div>
            <div class="grid">
                <app-plan></app-plan>
                <app-plan></app-plan>
                <app-plan></app-plan>
            </div>
        </div>
        <div class="options-buttons">
            <button class="back-btn">Atrás</button>
            <button class="continue-btn">Continuar</button>
        </div>
    </div>
</body>
