<body>
    <div class="header">
        <img src="../../../assets/icons/ver.png" alt="icono vista previa">
        <p>Vista previa</p>
        <img src="../../../assets/icons/cerrar.png" (click)="onCloseModal()" alt="cerrar el modal" class="close" >
    </div>
    <div class="main-content">
        <div class="background">
            <div class="navbar">
                <div class="logo">
                    <img src="../../../assets/icons/imagen.png" alt="logo fotografia">
                    <h3>Logo</h3>
                </div>
                <div class="other-options-menu">
                    <a href=""><h3>Inicio +</h3></a>
                    <a href=""><h3>Precios</h3></a>
                    <a href=""><h3>Beneficios</h3></a>
                    <a href=""><h3>Contacto</h3></a>
                </div>
                <div class="burguer-menu">
                    <app-menu-preview></app-menu-preview>
                </div>
            </div>
            <div class="main-image">
                <div class="text">
                    <h1>Título de Página</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus  sit voluptatem accusantium doloremque laudantium, totam.</p>
                    <button>Button</button>
                </div>
                <div class="image-right">
                    <img src="../../../assets/images/botellasx3-Header.png" alt="imagenes del header">
                </div>
            </div>
        </div>
        <div class="background2">
            <div class="plans">
                <h1>Título de planes</h1>
                <p>PRECIOS</p>
                <app-plan-contempo></app-plan-contempo>
            </div>
        </div>
        <div class="banner-content">
            <div class="image">
                <img src="../../../assets/images/botellasx3-Header.png" alt="imagen del banner">
            </div>
            <div class="text">
                <h1>Título de banner</h1>
                <p>It is a long established fact that a reader will be
                    by the readable content of a page. It is a long established fact that a reader will be
                    by the readable content of a page.</p>
            </div>
        </div>
        <div class="footer">
            <h2>Texto en el pie de página</h2>
            <hr>
            <div class="mail">
                <img src="../../../assets/icons/mail.png" alt="icono de mail">
                <h2>Forma@<strong>decontacto.com</strong></h2>
            </div>
        </div>
    </div>
    <div class="options-buttons">
        <button class="back-btn">Atrás</button>
        <button class="continue-btn">Seleccionar</button>
    </div>
</body>