@use '../design-system/_reset';
@use '../design-system/_variables';
@use '../design-system/_base';
@use '../design-system/_mobile-styles';

body {
    .grid-overlay {
        .header {
            .buttons {
                img {
                    height: 3rem;
                    width: 2.5rem;
                    margin: 0 1rem;
                }
            }
        }
    }
}


.reports-data{
    margin-top: 1rem;
    padding: 3rem;
    border-radius: 10px;
    background-color: map-get(variables.$color-palette-billcentrix, 'gray');

    .second-headboard {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        @media (max-width: 632px){
            flex-direction: column;
            text-align: left;
        }

        h1 {
            font-weight: 300;
            padding-right: 6rem;
            color: map-get(variables.$color-palette-billcentrix, 'navy');

            @media (max-width: 788px){
                padding-right: 3rem;
            }

            @media (max-width: 727px){
                padding-right: 1rem;
            }

            @media (max-width: 632px){
                width: 100%;
                margin-bottom: 1rem;
            }

        }

        button{
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
            background-color: #fff;
            margin-right: 1rem;
            margin-top: 0;
            color: map-get(variables.$color-palette-billcentrix, 'primary');

            @media (max-width: 632px){
                margin-bottom: 1rem;
            }
        }
    }

    .content{
        background-color: #fff;
        border-radius: 1rem;
        padding: 2rem;

        .select-section{
            display: flex;
            justify-content: center;

            @media (max-width: 632px){
                flex-direction: column;
            }

            .items{
                width: 15rem;
                margin-right: 1rem;

                @media (max-width: 632px){
                    width: 100%;
                }

                .select-wrapper{
                    select{
                        border: 1px solid map-get(variables.$color-palette-billcentrix, 'primary');
                    }
                }
            }
        }

        .results{
            background-color: map-get(variables.$color-palette-billcentrix, 'gray');
            border-radius: 1rem;
            padding: 3rem;

            h1{
                font-weight: 300;
                color: map-get(variables.$color-palette-billcentrix, 'primary');

                @media (max-width: 452px){
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }

            .item-result{
                padding: 1.5rem 2rem;
                color: map-get(variables.$color-palette-billcentrix, 'primary');

                @media (max-width: 452px){
                    padding: 1.5rem 0;
                }

                p{
                    text-decoration: underline;
                }
            }
        }
    }
}

.buttons{
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem 1rem 0;

    @media (max-width: 452px){
        justify-content: space-around;
        padding: 0.5rem;
    }

    button{
        margin-right: 2rem;
        width: 9rem;
        color: #fff;
        background-color: map-get(variables.$color-palette-billcentrix, 'primary');

        @media (max-width: 452px){
            margin-right: 0;
        }
    }
}