@use '../design-system/_reset';
@use '../design-system/_variables';
@use '../design-system/_base';
@use '../design-system/_plan-base';
@use '../design-system/_mobile-styles';
@import '../design-system/_mixins.scss';

body {
    .grid-overlay {
        .header {
            .buttons {
                justify-content: flex-end;

                img {
                    height: 2.7rem;
                    width: 2.5rem;
                    margin: 0 1rem;
                }
            }
        }
    }
}

.question-content {
    margin-top: 1rem;
    padding: 1.5rem 5rem;
    border-radius: 10px;
    background-color: map-get(variables.$color-palette-billcentrix, 'gray');

    @media (max-width: 1220px) {
        padding: 1.5rem 3rem;
    }

    @media (max-width: 689px) {
        padding: 1.5rem;
    }

    .main-title {
        color: map-get(variables.$color-palette-billcentrix, 'navy');
        padding-bottom: 2rem;
        font-weight: 300;
    }

    .faqs {
        background-color: #fff;
        padding: 1.5rem 2.3rem;
        border-radius: 10px;
        box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.11);

        @media (max-width: 774px) {
            padding: 1.5rem;
        }

        .header {
            color: map-get(variables.$color-palette-billcentrix, 'primary');
            padding-bottom: 1.8rem;

            .title {
                display: flex;
                align-items: center;

                img {
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1rem;
                }

                h1 {
                    font-weight: 300;
                    text-align: left;

                    @include responsive-font-size(919px, 1.8rem);
                    @include responsive-font-size(862px, 1.5rem);
                    @include responsive-font-size(489px, 1rem);

                }
            }

            img {
                width: 1.2rem;
                height: 1.2rem;
            }

        }

        .question-grid {
            display: grid;
            grid-template-columns: 1fr 5fr;
            color: map-get(variables.$color-palette-billcentrix, 'primary');
            padding-bottom: 3rem;


            .left {
                width: min-content;

                @media (max-width: 1282px) {
                    width: 70%;
                }

                @media (max-width: 635px) {

                    p {
                        font-size: 0.7rem;
                    }
                }

                .header-description,
                .plans-description,
                .banner-description {
                    display: flex;
                    flex-direction: column;

                    p {
                        @media (max-width: 635px) {
                            font-size: 0.7rem;
                        }
                    }
                }

                .header-description {
                    height: 28rem;
                    padding: 2rem 0 5rem 0;
                    justify-content: space-around;

                    @include responsive-height(1282px, 32rem);
                    @include responsive-height(1219px, 30rem);

                    @media (max-width: 920px) {
                        width: 90%;
                        height: 25rem;
                        padding: 0 0 3rem 0;
                    }

                    @include responsive-height(905px, 28rem);
                    @include responsive-height(897px, 26rem);
                    @include responsive-height(841px, 23rem);
                    @include responsive-height(757px, 22rem);
                    @include responsive-height(639px, 21rem);
                    @include responsive-height(550px, 15rem);

                    @media (max-width: 489px) {
                        height: 11.5rem;
                        padding: 0 0 2rem 0;
                    }

                }

                .plans-description {
                    height: 33rem;
                    justify-content: space-between;
                    margin-bottom: 4rem;

                    @media (max-width: 1485px) {
                        margin-top: 2rem;
                    }

                    @include responsive-height(1340px, 35rem);
                    @include responsive-height(1305px, 37rem);
                    @include responsive-height(1282px, 33rem);

                    @media (max-width: 921px) {
                        height: 37rem;
                        margin-top: 0;
                    }

                    @media (max-width: 905px) {
                        margin-bottom: 3rem;
                    }

                    @include responsive-height(841px, 29rem);
                    @include responsive-height(609px, 28rem);
                    @include responsive-height(550px, 22rem);
                    @include responsive-height(489px, 17rem);

                    @media (max-width: 418px) {
                        height: 18rem;
                        margin-bottom: 1.5rem;
                    }
                }

                .banner-description {
                    height: 25rem;
                    justify-content: space-around;
                    margin-bottom: 3rem;

                    @media (max-width: 1073px) {
                        margin-bottom: 2rem;
                    }

                    @include responsive-height(973px, 19rem);

                    @media (max-width: 943px) {
                        margin-bottom: 4rem;
                    }

                    @media (max-width: 935px) {
                        height: 23rem;
                        margin-bottom: 1rem;
                    }

                    @include responsive-height(921px, 20rem);
                    @include responsive-height(905px, 17rem);
                    @include responsive-height(841px, 15rem);
                    @include responsive-height(737px, 20rem);

                    @media (max-width: 657px) {
                        height: 15rem;
                        margin-bottom: 2rem;
                    }

                    @include responsive-height(606px, 12rem);
                    @include responsive-height(578px, 10rem);

                    @media (max-width: 454px) {
                        margin-bottom: 1rem;
                    }

                }

            }

            .right {
                background-color: map-get(variables.$color-palette-billcentrix, 'gray');
                padding: 2rem;
                border-radius: 1.5rem;

                @media (max-width: 775px) {
                    padding: 1.5rem;
                }

                @include responsive-width(754px, 30rem);
                @include responsive-width(730px, 28rem);
                @include responsive-width(648px, 26rem);
                @include responsive-width(586px, 23rem);
                @include responsive-width(550px, 22rem);
                @include responsive-width(525px, 20rem);
                @include responsive-width(489px, 18rem);
                @include responsive-width(462px, 16rem);
                @include responsive-width(425px, 15rem);
                @include responsive-width(409px, 13.8rem);

                .sky-blue {
                    position: relative;
                    width: 100%;
                    background-color: map-get(variables.$color-palette-billcentrix, 'primary');
                    color: #fff;
                    border-radius: 1.5rem;
                    padding: 5rem;

                    @media (max-width: 920px) {
                        padding: 3rem;
                    }

                    @media (max-width: 639px) {
                        span {
                            p {
                                font-size: 0.7rem;
                            }
                        }
                    }

                    @media (max-width: 608px) {
                        height: 15rem;
                    }

                    @media (max-width: 550px) {
                        padding: 1rem;
                        width: 17rem;
                        height: 10rem;

                        span {
                            p {
                                font-size: 0.5rem;
                            }
                        }
                    }

                    @media (max-width: 489px) {
                        width: 13rem;
                        height: 8rem;
                        border-radius: 1rem;

                        span {
                            p {
                                font-size: 0.4rem;
                            }
                        }
                    }

                    @include responsive-width(418px, 11.5rem);

                    .text {
                        width: 55%;

                        @include responsive-width(1219px, 70%);
                        @include responsive-width(1072px, 87%);

                        h1 {
                            font-weight: 300;
                            margin-bottom: 3rem;

                            @media (max-width: 840px) {
                                margin-bottom: 1.5rem;
                                margin-top: 1rem;
                                font-size: 1.8rem;
                            }

                            @include responsive-font-size(840px, 1.4rem);
                            @include responsive-font-size(639px, 1.2rem);

                            @media (max-width: 608px) {
                                margin-top: 0.5rem;
                            }


                            @media (max-width: 550px) {
                                font-size: 1rem;
                                margin: 1.3rem 0 1rem 0;
                            }

                            @media (max-width: 489px) {
                                font-size: 0.8rem;
                                margin: 0.7rem 0 0.7rem 0;
                            }
                        }

                        p {
                            @include responsive-font-size(608px, 0.7rem);
                            @include responsive-font-size(489px, 0.5rem);
                        }
                    }

                    .line-horizontal,
                    .line-vertical {
                        position: absolute;
                        top: 0;
                        background-color: #ffff;
                        margin-top: 1rem;

                        span {
                            color: #ffff;
                        }

                        @media (max-width: 489px) {
                            top: -0.5rem;
                        }
                    }

                    .line-horizontal {
                        left: 1rem;
                        width: 95%;
                        height: 0.5px;

                        @include responsive-width(840px, 91%);
                        @include responsive-width(608px, 88%);
                        @include responsive-width(489px, 83%);
                    }

                    .line-vertical {
                        right: 1rem;
                        width: 1px;
                        height: 85%;

                        @media (max-width: 1235px) {
                            top: 1rem;
                        }

                        @include responsive-height(639px, 80%);
                        @include responsive-height(550px, 65%);

                        @media (max-width: 489px) {
                            height: 70%;
                            right: 0.4rem;
                            top: 0.1rem;
                        }
                    }

                    .line-text-horizontal {
                        position: absolute;
                        top: 2rem;
                        left: 50%;
                        transform: translateX(-50%);
                        color: #ffff;

                        @media (max-width: 840px) {
                            top: 1.3rem;
                        }

                        @media (max-width: 489px) {
                            top: 0.7rem;
                        }

                    }

                    .line-text-vertical {
                        position: absolute;
                        top: 45%;
                        right: 1.5rem;
                        transform: translateY(-50%);
                        color: #ffff;
                        writing-mode: vertical-lr;
                        white-space: nowrap;

                        @media (max-width: 840px) {
                            right: 1.2rem;
                            top: 55%;
                        }

                        @media (max-width: 489px) {
                            top: 50%;
                            right: 0.5rem;
                        }
                    }
                }
            }

            .plans-section {
                .text {
                    padding: 3rem 0 1rem 4rem;

                    @media (max-width: 841px) {
                        padding: 3rem 0 1rem 3rem;
                    }

                    @media (max-width: 643px) {
                        padding: 3rem 0 1rem 1.5rem;
                    }

                    @media (max-width: 489px) {
                        padding: 1rem;
                    }

                    p {
                        margin-bottom: 1rem;

                        @media (max-width: 489px) {
                            font-size: 0.5rem;
                        }
                    }

                    h1 {
                        font-weight: 300;

                        @include responsive-font-size(1094px, 1.7rem);
                        @include responsive-font-size(984px, 1.5rem);
                        @include responsive-font-size(489px, 1rem);
                        @include responsive-font-size(418px, 0.9rem);

                    }

                }

                .plan-grid {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    gap: 2rem;

                    @media (max-width: 841px) {
                        gap: 1rem;
                    }

                    .plan {

                        .preview {
                            width: 100%;
                            border-radius: 15px;
                            margin-top: 0;
                            margin-bottom: 0;

                            @include responsive-width(550px, 7rem);


                            @media (max-width: 489px) {
                                width: 5rem;
                                border-radius: 8px;
                            }

                            h3 {
                                @include responsive-font-size(550px, 0.7rem);
                            }

                            .header {
                                @media (max-width: 841px) {
                                    padding-bottom: 0;
                                }

                                @media (max-width: 489px) {
                                    padding-left: 0;
                                }

                                h1 {
                                    @include responsive-font-size(609px, 1.5rem);
                                    @include responsive-font-size(550px, 1rem);
                                    @include responsive-font-size(489px, 0.7rem);
                                }
                            }

                            .see-photo {
                                height: 5rem;
                                border-radius: 5px;

                                @include responsive-width(841px, 90%);
                                @include responsive-height(550px, 3rem);
                                @include responsive-height(489px, 2rem);

                            }

                            .select {
                                button {
                                    width: 12rem;
                                    height: 2.3rem;
                                    border: none;
                                    border-radius: 10px;
                                    font-weight: 700;
                                    background-color: #fff;
                                    color: map-get(variables.$color-palette-billcentrix, 'primary');
                                    border: 1px solid map-get(variables.$color-palette-billcentrix, 'primary');

                                    @include responsive-width(609px, 9rem);

                                    @media (max-width: 550px) {
                                        width: 5rem;
                                        font-size: 0.7rem;
                                        height: 1.3rem;
                                    }

                                    @media (max-width: 489px) {
                                        width: 4rem;
                                        border-radius: 5px;
                                        font-size: 0.5rem;
                                    }
                                }
                            }

                            .big-number {
                                @media (max-width: 841px) {
                                    font-size: map-get(variables.$font-sizes, 'title');
                                }

                                @media (max-width: 550px) {
                                    font-size: map-get(variables.$font-sizes, 'subtitle');
                                }

                                @media (max-width: 489px) {
                                    font-size: map-get(variables.$font-sizes, 'text');
                                }
                            }

                            .including {

                                @media (max-width: 550px) {
                                    padding: 0.4rem;
                                }

                                li{
                                    @include responsive-font-size(841px, 0.8rem);
                                    @include responsive-font-size(609px, 0.5rem);
                                    @include responsive-font-size(550px, 0.4rem);
                                }

                            }
                        }
                    }

                    .plan-info {
                        border-radius: 10px;
                        font-weight: 700;
                        color: map-get(variables.$color-palette-billcentrix, 'primary');
                        border: 0.5px solid map-get(variables.$color-palette-billcentrix, 'primary');
                        padding: 3rem 2rem;

                        @media (max-width: 898px) {
                            width: 14.5rem;
                            padding: 1.3rem;
                        }

                        @include responsive-width(773px, 12rem);
                        @include responsive-width(657px, 10rem);
                        @include responsive-width(550px, 9.5rem);
                        @include responsive-width(462px, 8rem);

                        @media (max-width: 441px) {
                            width: 7rem;
                            padding: 1rem;
                        }

                        @include responsive-width(408px, 5.8rem);

                        h1 {
                            font-weight: 400;
                            font-size: map-get(variables.$font-sizes, 'title');
                            margin-bottom: 2.5rem;

                            @include responsive-font-size(1107px, 2.3rem);

                            @media (max-width: 913px) {
                                font-size: map-get(variables.$font-sizes, 'subtitle');
                            }

                            @media (max-width: 741px) {
                                font-size: map-get(variables.$font-sizes, 'text');
                            }

                            @media (max-width: 550px) {
                                font-size: map-get(variables.$font-sizes, 'subtext');
                                margin-bottom: 0.5rem;
                            }

                            @include responsive-font-size(489px, 0.9rem);
                            @include responsive-font-size(441px, 0.8rem);

                        }

                        p {
                            font-size: map-get(variables.$font-sizes, 'text');

                            @media (max-width: 1011px) {
                                font-size: map-get(variables.$font-sizes, 'subtext');
                            }

                            @include responsive-font-size(905px, 1rem);
                            @include responsive-font-size(841px, 0.8rem);
                            @include responsive-font-size(550px, 0.5rem);

                        }
                    }
                }
            }

            .banner-section {
                margin-top: 2rem;

                .banner-grid {
                    background-color: #fff;
                    padding: 2rem;
                    border-radius: 1.5rem;
                    display: grid;
                    grid-template-columns: 2fr 1fr;

                    @media (max-width: 606px) {
                        padding: 1rem;
                    }

                    @media (max-width: 454px) {
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                    }

                    .left {
                        width: 60%;
                        padding-left: 1rem;

                        @include responsive-width(1136px, 70%);
                        @include responsive-width(905px, 80%);

                        @media (max-width: 462px) {
                            padding-left: 0;
                        }

                        h1 {
                            font-weight: 500;
                            font-size: map-get(variables.$font-sizes, 'title');
                            margin-bottom: 3rem;

                            @include responsive-font-size(1071px, 2.5rem);
                            @include responsive-font-size(973px, 2rem);
                            @include responsive-font-size(905px, 1.8rem);
                            @include responsive-font-size(721px, 1.5rem);
                            @include responsive-font-size(657px, 1rem);

                            @media (max-width: 489px) {
                                font-size: 0.8rem;
                                margin-bottom: 1.5rem;
                            }

                            @include responsive-font-size(409px, 0.7rem);
                        }

                        p {
                            font-weight: 500;

                            @include responsive-font-size(657px, 0.8rem);
                            @include responsive-font-size(489px, 0.5rem);

                        }
                    }

                    .right {
                        width: 17rem;
                        background-color: map-get(variables.$color-palette-billcentrix, 'primary');
                        color: #fff;
                        display: flex;
                        align-items: center;
                        text-align: center;

                        @include responsive-width(1007px, 15rem);
                        @include responsive-width(973px, 13rem);
                        @include responsive-width(905px, 10rem);
                        @include responsive-width(657px, 8rem);

                        @media (max-width: 578px) {
                            width: 6.5rem;
                            border-radius: 10px;
                        }

                        @media (max-width: 462px) {
                            width: 4.5rem;
                            padding: 0.4rem;
                            height: 7rem;
                        }

                        p {
                            font-size: map-get(variables.$font-sizes, 'text');

                            @media (max-width: 973px) {
                                font-size: map-get(variables.$font-sizes, 'subtext');
                            }

                            @include responsive-font-size(905px, 0.8rem);
                            @include responsive-font-size(578px, 0.5rem);
                            @include responsive-font-size(441px, 0.4rem);

                        }
                    }
                }
            }


            hr {
                background-color: map-get(variables.$color-palette-billcentrix, 'primary');
                height: 4px;
                margin: 1.5rem 0;
            }

            .mail {
                display: flex;
                align-items: center;

                h2 {
                    display: inline;
                    margin-left: 2rem;

                    @media (max-width: 696px) {
                        font-size: 1.2rem;
                        margin-left: 1rem;
                    }

                    @include responsive-font-size(597px, 1rem);
                    @include responsive-font-size(539px, 0.8rem);

                    @media (max-width: 409px) {
                        margin-left: 0.2rem;
                        font-size: 0.6rem;
                    }
                }

                img {
                    margin-left: 9rem;
                    width: 3rem;

                    @media (max-width: 958px) {
                        margin-left: 5rem;
                    }

                    @media (max-width: 755px) {
                        margin-left: 4rem;
                    }

                    @include responsive-width(696px, 2rem);

                    @media (max-width: 597px) {
                        margin-left: 2rem;
                        width: 1rem;
                    }


                    @media (max-width: 540px) {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}

.options-buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;

    @media (max-width: 550px) {
        display: none;
    }

    button {
        width: 8rem;
    }
}

.contact-us{
    display: none;
    padding: 1rem;

    @media (max-width: 550px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            color: #fff;
        }

        button{
            background-color: map-get(variables.$color-palette-billcentrix, 'primary');
            color: #fff;
        }
    }
}