<div class="preview">
    <div class="header">
        <h1>Portal 1</h1>
        <img src="../../../assets/icons/cuadra.png" alt="">
    </div>
    <p>Modificado 03/23/2023</p>
    <div class="content-portal">

    </div>
    <div class="options">
        <button class="edit-bt"> <img src="../../../assets/icons/editar.png" alt="editar plan">
            <p>Editar</p>
        </button>
        <button> <img src="../../../assets/icons/eliminar.png" alt="editar plan">
            <p>Eliminar</p>
        </button>
        <button>Publicar</button>
    </div>
</div>