<body>
    <div class="welcome-page">
        <div class="logo">
            <img src="../../assets/images/BRAND.png" alt="logo de Billcentrix">
            <div class="welcome-text">
                <h1>Afiliación web</h1>
                <br>
                <h1>Bienvenido a tu portal<br>
                    de administración.
                </h1><br>
            </div>
            <div class="options-buttons">
                <button class="entry-button">Entrar</button>
                <div class="register">
                    <p>¿Nueva Cuenta?</p>
                    <button class="register-button">Regístrate</button>
                </div>
            </div>
            <div class="other-options">
                <div class="checkbox">
                    <input type="checkbox" id="myCheckbox" class="cookies">
                    <label for="myCheckbox">Aceptar <br>Cookies</label>
                </div>
                <div class="help">
                    <p>¿Necesitas ayuda?<br>
                        Contáctanos</p>
                </div>
            </div>
        </div>
        <div class="imagen-moves">
            <img src="../../assets/images/grafica.png" alt="imagen movediza del fondo">
        </div>

    </div>
</body>