@use '../design-system/_reset';
@use '../design-system/_variables';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    nav {
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;

        img[alt="Logo Billcentrix"] {
            width: 15rem;
        }

        p {
            margin: 0 2rem;
            padding-top: 2rem;
            font-weight: 600;
            color: map-get(variables.$color-palette-billcentrix, 'highlighter');
        }

        img{
            padding-top: 1rem;
        }
    }

    .welcome-page {
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../../assets/images/background.png');
        background-size: cover;
        border: none;
        outline: none;

        .logo {
            padding-left: 8rem;

            img {
                width: 65%;
                padding-bottom: 3rem;
            }

            @media (max-width: 1004px){
                img {
                    width: 75%;
                    padding-bottom: 3rem;
                }
            }

            .welcome-text,
            p,
            label {
                color: #fff;

            }

            h1 {
                font-weight: 300;
            }

            .options-buttons {

                button {
                    width: 9rem;
                    height: 2.3rem;
                    border: none;
                    border-radius: 5px;
                    font-weight: 700;
                    color: map-get(variables.$color-palette-billcentrix, 'primary');
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
                    margin-top: 1rem;
                }

                .entry-button {
                    margin-right: 1rem;
                }

                .register {
                    display: inline-block;

                    .register-button {
                        margin-right: 1rem;
                        background-color: map-get(variables.$color-palette-billcentrix, 'highlighter');
                    }
                }
            }

            .other-options {
                margin-top: 2rem;
                display: flex;
                align-items: center;

                .checkbox {
                    display: flex;
                    align-items: center;
                    margin-right: 5rem;

                    label {
                        margin-left: 0.5rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                .checkbox input[type="checkbox"] {
                    margin-right: 0.5rem;
                    transform: scale(1.8);
                }

                .help {
                    text-align: center;
                }
            }

        }

        .imagen-moves {
            position: relative;
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                right: 0;
                height: 45rem;
            }

            @media (max-width: 1004px){
                img {
                    width: 40rem;
                }
            }
        }

        app-login {
            width: 100%;
        }

        @media (max-width: 808px){
            .logo {
                padding-left: 5rem;
                width: 50rem;
            }

            .imagen-moves {
                img {
                    width: 30rem;
                }
            }
        }

        @media (max-width: 870px) {
            background-size: 100% 100%;
            background-repeat: no-repeat;

            .logo {
                padding-left: 6rem;

                img {
                    width: 85%;
                    padding-bottom: 3rem;
                }

            }
            .imagen-moves {
                img {
                    width: 35rem;
                    height: 40rem;
                    position: absolute;
                    right: 0;
                    bottom: -2rem;
                }
            }
        }

        @media (max-width: 720px){
            .logo {
                padding-left: 4rem;
                width: 60rem;
            }

            .imagen-moves {
                img {
                    height: 33rem;
                    width: 25rem;
                    bottom: -2rem;
                }
            }
        }

        @media (max-width: 637px) {
            .logo {
                padding-left: 3rem;
                width: 70rem;
            }

            .imagen-moves {
                img {
                    height: 30rem;
                    width: 20rem;
                    bottom: -3rem;
                }
            }
        }

        @media (max-width: 577px) {
            .logo {
                padding-left: 2rem;
            }

            .imagen-moves {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                justify-content: center;

                img {
                    max-height: 30rem;
                    max-width: 100%;

                }
            }
        }
        
        @media (max-width: 556px){
            .imagen-moves {

                img {
                    bottom: -4rem;
                }
            }
        }

        @media (max-width: 517px) {
            .imagen-moves {

                img {
                    bottom: -6rem;
                }
            }
        }

        @media (max-width: 470px){
            .imagen-moves {

                img {
                    bottom: -8rem;
                }
            }
        }

        @media (max-width: 420px){
            .imagen-moves {

                img {
                    bottom: -9rem;
                }
            }
        }
    }

    @media (max-width: 720px){
        
        app-footer {
            position: absolute;
            width: 100%;
        }
    }

    @media (max-width: 517px){
        nav a p{
            color: transparent;
        }
    }
}