@use '../design-system/_reset';
@use '../design-system/_variables';

body{

    .main-content{
        max-height: min-content;
        background-color: map-get(variables.$color-palette-billcentrix, 'primary');
        padding: 1rem;
        color: map-get(variables.$color-palette-billcentrix, 'navy');
        flex: 1;

        img{
            width: 15rem;
        }

        h1{
            font-weight: 300;
        }
    
        .create-portal{
            border-radius: 10px;
            padding: 3rem;
            margin-bottom: 5rem;
            background-color: #fff;
            height: 65vh;

            .modal-center{
                position: absolute;
                text-align: center;
                color: map-get(variables.$color-palette-billcentrix, 'navy');
                font-weight: 700;
                width: 23rem;
                padding: 1rem;
                border-radius: 5px;
                box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                img{
                    width: 12%;
                }

                p{
                    margin: 1rem 0;
                }

                button {
                    width: 12rem;
                    height: 2.3rem;
                    border: none;
                    border-radius: 10px;
                    font-weight: 700;
                    background-color: #fff;
                    color: map-get(variables.$color-palette-billcentrix, 'primary');
                    border: 1px solid map-get(variables.$color-palette-billcentrix, 'primary');
                    margin-top: 1rem;
                }
            }
        }
    }

    app-footer{
        flex-shrink: 0;
    }
}

@media (max-width: 442px){
    body {
        .main-content{
            .create-portal{
                padding: 2rem;
            }
        }
    }
}

@media (max-width: 428px){
    body {
        .main-content{
            h1{
                font-size: 1.5rem;
            }
        
            .create-portal{
                height: 46vh;

                .modal-center{
                    width: 20rem;
                    top: 25%;
                    left: 25%;
                    transform: translate(-20%, -20%);
                }
            }
        }
    }
}