<body>
    <div class="main-content">
        <img src="../../assets/images/BRAND.png" alt="logo de Billcentrix">
        <div class="create-portal">
            <h1>Crea tu primer portal</h1>
            <div class="modal-center">
                <img src="../../assets/icons/cuadra.png" alt="imagen de cubo">
                <p>Bienvenido a tu portal de administración de Billcentrix, estás a pocos pasos de tener tu negocio recurrente.</p>
                <button>Crear portal</button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>