@use '../../design-system/_reset';
@use '../../design-system/_variables';
@use '../../design-system/_base';
@use '../../design-system/_plan-base';

.preview {
    height: max-content;
    border-radius: 10px;
    padding: 2rem 1.8rem;
    border: 1px solid map-get(variables.$color-palette-billcentrix, 'primary');
    align-items: flex-start;
    text-align: left;

    .header {
        padding-bottom: 3rem;

        button{
            color: #fff;
            background-color: map-get(variables.$color-palette-billcentrix, 'primary');
            width: 7rem;
            margin-bottom: 1.5rem;
        }
    }

    .big-number {
        font-size: map-get(variables.$font-sizes, 'big-title');
        padding-bottom: 1rem;
    }

    .including {
        padding-bottom: 3rem;

        p {
            font-weight: 600;
            font-size: map-get(variables.$font-sizes, 'subtext');
        }
    }

    .select{
        width: 100%;
        display: flex;
        justify-content: space-between;

        p{
            font-weight: 500;
        }
    }
}