@use '../../design-system/_reset';
@use '../../design-system/_variables';
@use '../../design-system/_base';
@use '../../design-system/_plan-base';
@import '../../design-system/_mixins.scss';

.plan-practical {
    background-color: transparent;
    padding: 1.5rem 2.3rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    color: map-get(variables.$color-palette-billcentrix, 'primary');
    width: 100%;

    @media (max-width: 871px) {
        padding-top: 0;
    }

    @media (max-width: 473px) {
        padding: 1.5rem;
    }

    h1 {
        font-weight: 300;

        @include responsive-font-size(736px, 1.5rem);

    }


    .plan-practical-content, .plan-practical-content-modern, .plan-practical-content-violet {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .carousel-nav-left,
        .carousel-nav-right {
            background-color: #ffffff67;
            width: 2rem;
            height: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: #dcdadac4;
            }
        }

        .carousel-nav-left.disabled,
        .carousel-nav-right.disabled {
            cursor: not-allowed;
            opacity: 0.5;
            pointer-events: none;
        }

        .arrow-left,
        .arrow-right {
            width: 0;
            height: 0;
            border: solid map-get(variables.$color-palette-billcentrix, 'primary');
            ;
            border-width: 0 5px 5px 0;
            display: inline-block;
            padding: 2px;

            &.arrow-left {
                transform: rotate(135deg);
            }

            &.arrow-right {
                transform: rotate(-45deg);
            }
        }

        .carousel-container {
            display: flex;
            overflow: hidden;
            width: 100%;
            justify-content: space-around;
            align-items: center;


            .preview {
                height: max-content;
                border-radius: 10px;
                padding: 2rem 1.8rem;
                border: 1px solid map-get(variables.$color-palette-billcentrix, 'primary');
                align-items: flex-start;
                text-align: left;

                @include responsive-width(511px, 13rem);

                .header {
                    padding-bottom: 3rem;
                    flex-direction: column;


                    @media (max-width: 511px) {
                        padding: 0 0 2rem 0;
                    }

                    button {
                        color: #fff;
                        background-color: map-get(variables.$color-palette-billcentrix, 'primary');
                        width: 7rem;
                        margin-bottom: 1.5rem;
                    }
                }

                .big-number {
                    font-size: map-get(variables.$font-sizes, 'big-title');
                    padding-bottom: 1rem;

                    @include responsive-font-size(511px, 3rem);
                }

                .including {
                    padding: 1rem 1rem 3rem 0;

                    @media (max-width: 511px) {
                        padding: 1rem 0 2rem 0;
                    }

                    p {
                        font-weight: 600;
                        font-size: map-get(variables.$font-sizes, 'subtext');

                        @include responsive-font-size(511px, 1rem);
                    }
                }

                .select {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .plan-practical-content-modern {
        .carousel-container {
            .preview {
                border: 1px solid map-get(variables.$color-palette-modern, 'success');

                .header{
                    p{
                        color: map-get(variables.$color-palette-modern, 'success');
                    }

                    button {
                        background-color: map-get(variables.$color-palette-modern, 'success');
                    }
                }

                .big-number, h3 {
                    color: map-get(variables.$color-palette-modern, 'success');
                }

                .including{
                    p{
                        color: map-get(variables.$color-palette-modern, 'gray2');
                    }
                }

                .select{
                    p{
                        color: map-get(variables.$color-palette-modern, 'success');
                    }

                    .round-checkbox input[type="checkbox"]{
                        border: 1px solid map-get(variables.$color-palette-modern, 'success');
                    }

                    .round-checkbox input[type="checkbox"]:checked::before {
                        background-color: map-get(variables.$color-palette-modern, 'success');
                    }
                }
            }
        }
    }

    .plan-practical-content-violet {
        .carousel-container {
            .preview {
                border: 1px solid map-get(variables.$color-palette-violet, 'fucsia');
                background-color: map-get(variables.$color-palette-violet, 'pink-back');

                .header{
                    p{
                        color: map-get(variables.$color-palette-violet, 'fucsia');
                    }

                    button {
                        background-color: map-get(variables.$color-palette-violet, 'fucsia');
                    }
                }

                .big-number, h3 {
                    color: map-get(variables.$color-palette-violet, 'fucsia');
                }

                .including{
                    p{
                        color: map-get(variables.$color-palette-violet, 'purple');
                    }
                }

                .select{
                    p{
                        color: map-get(variables.$color-palette-violet, 'fucsia');
                    }

                    .round-checkbox input[type="checkbox"]{
                        border: 1px solid map-get(variables.$color-palette-violet, 'fucsia');
                    }

                    .round-checkbox input[type="checkbox"]:checked::before {
                        background-color: map-get(variables.$color-palette-violet, 'fucsia');
                    }
                }
            }
        }
    }
}