<body>
    <div class="grid-overlay">
        <div class="header">
            <div class="logo">
                <img src="../../assets/images/BRAND2.png" alt="logo de Billcentrix">
            </div>
            <div class="buttons">
                <button>Crear nuevo portal</button>
                <img src="../../../assets/icons/cubo-green.png" alt="icono portales">
                <app-menu></app-menu>
            </div>
        </div>
    </div>
    <div class="personalize-content">
        <div class="second-headboard">
            <h1>Personalización</h1>
            <img src="../../../assets/icons/4123.png" alt="logo de Billcentrix">
        </div>
        <div class="grid">
            <div class="selected-theme">
                <h1>Tema seleccionado: <strong>Básico</strong></h1>
                <p>Puedes cambiar el template cuando quieras</p>
                <div class="change-btn">
                    <button>Cambiar</button>
                </div>
            </div>
            <div class="color-palette">
                <h1>Selecciona la paleta de colores que más va con tu marca</h1>
                <p>Puedes volver y variar los colores cuando quieras.</p>
            </div>
            <div class="brand">

            </div>
            <div class="main-image">

            </div>
            <div class="promotional-banner">

            </div>
            <div class="general-data">

            </div>
        </div>
    </div>
</body>